@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.header-position{
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.header-logo{
    margin: 1%;
    height: 1.6rem;
    width: 7.5rem;
}

.header-faixa{
    height: 0.5rem;
    width: 100%;
}

.header-final{
    height: 1.3px;
    width: 100%;
    background-color: rgb(190, 190, 190);
}