@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.dashboard{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-content{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.home-body{
    flex: 1;
    overflow: auto;
}