@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.swal2-popup {
    font-family: 'Poppins', sans-serif;
}

.swal2-confirm {
    background-color: #2B83D5 !important;
    font-family: 'Poppins', sans-serif !important;
    transition: 0.25s;
}

.swal2-confirm:hover {
    background-color: #3d96e9 !important;
    transform: scale(1.05);
}

.swal2-cancel {
    background-color: #2B83D5 !important;
    font-family: 'Poppins', sans-serif !important;
    transition: 0.25s;
}

.swal2-cancel:hover {
    background-color: #3d96e9 !important;
    color: white !important;
    transform: scale(1.05);
}

.swal2-container {
    z-index: 20000 !important;
}