@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    /* min-height: 94vh; */
}
.sidebar-container,
.sidebar-corpo,
.sidebar-link {
    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
}

body.dark .sidebar-corpo {
    background-color: #121212;
    color: rgb(228, 228, 228);
}   

body.dark .sidebar-link {
    color: #818181;
}

body.dark .sidebar-link:hover {
    color: #ffffff;
}

body.dark .sidebar-link.active {
    color: #ffffff;
}

.sidebar-container{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /* height: 94vh; */
    width: 240px;
    flex-shrink: 0;
}

.sidebar-container,.sidebar-corpo {
    width: 250px;
    min-width: 250px;
    height: 100%;
    background: #fff;
    border: 1px solid rgb(190, 190, 190);
    border-top: none;
    display: flex;
    flex-direction: column;
}

.sidebar-action{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.sidebar-link{
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    background: transparent;
    border: none;
    color:#818181;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem
}

.sidebar-link:hover {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.sidebar-link:active {
    transform: scale(0.97);
}

.sidebar-link.active {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.sidebar-img{
    width: 1.5rem;
    height: 2rem;
}

.sidebar-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.sidebar-routes{
    padding: 12px;
    white-space: normal;     
    word-break: break-word;  
    overflow-wrap: break-word;
    line-height: 1.3;
    flex: 1;
}

.sidebar-badge .MuiBadge-badge {
    width: 10px;
    height: 10px;
    min-width: 10px;
    border-radius: 50%;
    top: 3px;
}