html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

.sidebar-container{
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.sidebar-corpo{
    width: 5rem;
    height: 100%;
    border: 1rem;
    background-color: aquamarine;
}