@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    min-height: 94vh;
}

html, body, #root {
    height: 94vh;
    width: 100%;
    margin: 0;
}

.sidebar-container{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    height: 94vh;
    width: 100%;
}

.sidebar-corpo {
    width: 16rem;
    height: 92.4vh;
    background: #fff;
    border: 0.01rem solid rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
}

.sidebar-action{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-link{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    text-decoration: none;
    background: transparent;
    border: none;
    color: rgb(160, 160, 160);
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.sidebar-link:hover {
    color: black;
    font-size: 1.1rem;
}

.sidebar-link:active {
    transform: scale(0.97);
}

.sidebar-link.active {
    color: black;
    font-size: 1.1rem;
}

.sidebar-img{
    width: 13rem;
    height: 8rem;
}

.sidebar-logout {
    margin-top: 13rem;
    padding-bottom: 20px;
}